<!-- userrequirements/templates/userrequirements/footer.html -->
{% load static %}

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">© 2024 userrequirements Application. All rights reserved.</span>
        <ul class="list-inline float-right">
            <li class="list-inline-item">
                <a href="#" class="text-muted">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-muted">Terms of Service</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-muted">Contact Us</a>
            </li>
        </ul>
    </div>
</footer>
